<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="css/style.css">--> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="css/frontpage.css">
    <title>Elgemo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script><main><div class="container-movies"><div class="movie-card"><div class="background-cover"><img src="https://m.media-amazon.com/images/M/MV5BZmRjODgyMzEtMzIxYS00OWY2LTk4YjUtMGMzZjMzMTZiN2Q0XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" alt="movie.title"></div> <div class="overlay"><!----> <span class="favorites"><i class="far fa-star"></i></span> <h2 id="title">Title:<span class="content-card">Godzilla vs. Kong</span></h2> <h2 id="original-title">Original Title:<span class="content-card">Godzilla vs. Kong</span></h2> <h2 id="language">Language:
                            <span class="content-card">EN
                            </span> <img src="img/imgflags/en.svg"></h2> <h2 id="score">Score:<span class="content-card"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </span></h2> <h2 id="cast">Cast:
                            <span class="content-card">
                                Alexander Skarsgård , Millie Bobby Brown , Rebecca Hall , Brian Tyree Henry , Shun Oguri
                            </span></h2> <h2 id="genres">Gernes:<span class="content-card">
                            Action , Science Fiction
                        </span></h2> <h2 id="overview">Overview:<span class="content-card">In a time when monsters walk the Earth, humanity’s fight for its future sets Godzilla and Kong on a collision course that will see the two most powerful forces of nature on the planet collide in a spectacular battle for the ages.</span></h2></div></div>
                            
                    </body>
                    </html>