

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
    text-decoration: none;
    outline: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --debug: 1px solid red;
    --headerColor: #0D0D0D;
}

body {
    background-color: #151515;
}

#app {
    width: 100%;
    background-color: #151515;
}

#app > header {
    display: flex;
    width: 100%;
    height: 4.375rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.947), rgba(26, 26, 26, 0.947));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/* left section header */
header > .icon-section {
    display: flex;
    width: 50%;
    height: 100%;
}
.icon-section > .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
header  .icon-wrapper > img {
    width: 50%;
    height: 50%;
}

.icon-section > .header-sections-link {
    width: 70%;
    height: 100%;
}

.header-sections-link > ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(131, 128, 128);
}
.header-sections-link > ul > li {
    list-style: none;
    margin-left: 1.3rem;
    /* color: rgb(131, 128, 128); */
    cursor: pointer;
}


header > .search-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}
header > .search-bar-wrapper > .costum-select {
    width: 20%;
    padding: 0.9rem;
}
header > .search-bar-wrapper > .costum-select > select {
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: .5rem;
}
header > .search-bar-wrapper > input {
    width: 50%;
    height: 50%;
    padding: 0.9rem;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}
.options {
    color: #fff;
}

header > .search-bar-wrapper > button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
}

.icons-wrapper-right {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    color: #fff;
}
.icons-wrapper-right > i:not(:last-child) {
    margin-left: 1.3rem;
    font-size: 1.5rem;
}

.icons-wrapper-right > img {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    border-radius: .325rem;
}

#app > main {
    width: 95%;
    margin: auto;
    background-color: #151515;
    margin-top: 4.375rem;
}

main > .container-movies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container-movies .movie-card {
    position: relative;
    width: calc(100% / 5 - 2rem);
    height: 30.625rem;
    margin-left: .5rem;
    /* margin-bottom: 1.5rem; */
    margin-bottom: 2.5rem;
    transition: transform .3s;
    border-radius: .325rem;
}

.container-movies .movie-card:hover {
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 1;
} 

.container-movies .movie-card:hover .overlay {
    opacity: 1;
  overflow:hidden;
}

.background-cover {
    width: 100%;
    height: 100%;
}
.overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(21, 21, 21, 0.899);
    color: white;
    overflow-wrap: break-word;
    overflow-y: hidden;
    border-radius: .325rem;
}

.favorites {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    padding-right: .5rem;
    padding-top: .5rem;
    margin-right: .5rem;
    color: yellow;
    cursor: pointer;
}

.removeList {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    padding-right: .5rem;
    padding-top: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}

.active {
    color: #fff;
}

#title {
    margin-top: 1.2rem;
}

#title,
#original-title,
#language,
#score,
#overview,
#cast,
#genres {
    padding: .5rem;
    font-size: 1rem;
    overflow-wrap: break-word;
    pointer-events: none;
}
#score > span {
    color: yellow;
}
#score > span > i.fas.fa-star {
    margin-left: 2px;
}
#score > span > i.far.fa-star {
    margin-left: 1px;
}
.overlay span {
    color: lightgray;
    font-size: .9rem;
    font-weight: 100;
}

.content-card {
    margin-left: .625rem;
}

.background-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .325rem;
}
.bg-grey {
    background-color: gray;
}
.no-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: .8rem;
    margin-top: 8.750rem;
}
.no-result > ul > li > ul {
    list-style: circle;
}
.no-result > ul > li {
    margin-left: 2.5rem;
}

#language {
    display: flex;
}
#language span {
    display: flex;
}
#language img {
    max-width: 20px;
    margin-left: .625rem;
}

#active {
    color: #fff;
}

footer {
    position: relative;
}
#scroll-trigger {
    height: 100px;
}

.circle-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,.2);
    border-top: 5px solid #fff;
    animation: animate 1.5s infinite linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }

}

@media (min-width: 992px){
    .header-sections-link > select {
       display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container-movies .movie-card {
        position: relative;
        width: calc(100% / 4 - 2rem);
        height: 20.625rem;
        margin-left: .5rem;
        /* margin-bottom: 1.5rem; */
        margin-bottom: 2.5rem;
        transition: transform .3s;
        border-radius: .325rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container-movies .movie-card {
        width: calc(100% / 2 - 2rem);
    }

    .icon-section > .header-sections-link {
        display: flex;
        align-items: center;
    }

    .header-sections-link > select {
        /* width: 100%; */
        width: 30%;
        height: 30%;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
        border: none;
        /* padding: 0.5rem; */
    }

    .header-sections-link > ul {
        display: none;
    }
    .costum-select {
        display: none;
    }
    .icons-wrapper-right {
        display: none;
    }
}