<!-- HEADER FOR THE FRONTPAGES -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--Logo css-->
	<link rel="icon" href="/assets/logo.png" type="image/x-icon">
	<!--Logo css-->

    <link rel="stylesheet" href="/css/frontpagestyle.css">

</head>
<body>
    <header>
        <a class="title" href="/frontpage">
            <div class="title">
                ELGEMO
            </div>
        </a>
        <div>
            <form id="form" action="/frontpage/search" method="GET">
                <input type="text" class="search" name="search" id="search" placeholder="search" >
            </form>
        </div>
        <a class="account" href="/login">

                Account
            
        </a>
   </header>
   
